.dev-nav li {
    padding: 4px;
    cursor: pointer;

    font-family: 'Comfortaa', sans-serif;
}


.content-div:hover {
    background-image: linear-gradient(to bottom,
            #90F7EC,
            #32CCBC) !important;
}


.nav-li {
    background-image: linear-gradient(to right,

            #32CCBC,
            #32CCBC 50%,
            #334155 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav-li:before {
    content: '';
    background: #32CCBC;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.nav-li:hover {
    background-position: 0;
}

.nav-li:hover::before {
    width: 100%;
}